
.card2{
 
  background-color: #252525;  
  color: white;
  transition: 0.4s;
  margin-left: -8px;
  box-shadow: -16px 0 48px #000;
}
.line{
    margin: 16px;
    height: 5px;
    width: 60px;
    background-color: #2e3033;
    position: absolute;
    top: 280px;
    left: 0;
    transition: 0.5s;
}

.card2:hover .line{
    position: absolute;
    width: 100px;
    top: 280px;
    left: 0;
    background: #FEBF0F;
}
.card2:hover{
    transform: translateX(-15px);
    color: #fff;

}

.card2:hover .card-img-top{
    opacity: 0.75;
}