/* --------------------------------- */
/* IMPORTANT NOTE:::please if you want added any style add it in your own section with unique class names */
/* --------------------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}



/* --------------------------------------------------------------------- */
/* ----------Noor--------- */
/* --------------------------------------------------------------------- */

.main_text{
    display: flex;
}

.line_main{
    width: 1%;
    height: 140px;
    background-color: #FEBF0F;
}

.main_link:link,
.main_link:visited{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 1.5%;
    border-radius: 15px;
    transition: 0.3s;
    
}

.main_link:hover{
    background-color: rgb(21, 21, 21);
    color: #FEBF0F;
}


/* --------------------------------------------------------------------- */
/* ----------Mohamed Ahmed--------- */
/* --------------------------------------------------------------------- */
/* Enactus color #FEBF0F  */
/* 'Oxygen', Sans-Serif */
/* 'Roboto', sans-serif */
/* black-gray #1d1d1da2 */
/* filter:blur(0)  */


nav{
    opacity: 0.9;
}

.nav-list-info{
    margin-right: 10px;
    margin-top: 10px;
}

.mohamed-list li .nav-link:link,
.mohamed-list li .nav-link:visited{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    margin-right: 19px;
    padding-left: 12px;
    border-radius: 14px;
    transition: 0.6s ease;
}

.mohamed-list:hover li .nav-link{
    opacity: 0.5;
}
.mohamed-list li .nav-link:hover{
    background-color: #FEBF0F;
    color: #fff;
    opacity: 1;
}

/* start Dropdown Styling */

.drop-mohamed button{
    margin-top: 5px;
    margin-right: 10px;
    font-size: 20px;
    padding: 15px;
    border-radius: 14px;
}

.drop-mohamed button:hover{
    color: #efefef;
    opacity: 0.95;
}
.drop-mohamed ul{
    background-color: #1d1d1da2;
    padding:10px;
    opacity: 1;
}
.drop-mohamed ul li a{
    color: #fff;
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    transition: 0.5s ease;
}

.drop-mohamed ul li a:hover{
    background-color: #FEBF0F;
    color: #fff;
    opacity: 1;
}
/* End Dropdown Styling */



/* --------------------------------------------------------------------- */
/* ----------Nada--------- */
/* --------------------------------------------------------------------- */




/* --------------------------------------------------------------------- */
/* ----------Mohamed Medhat--------- */
/* --------------------------------------------------------------------- */
.card2{
    margin-bottom: 100px;
    position: relative;
    background-color: #252525;
    height: 300px;
    width: 171px;
    border-radius: 12px;
    box-shadow: -16px 0 48px #000;
    left: 0;
    margin-left: -8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.line{
    margin: 16px;
    height: 5px;
    width: 0px;
    background-color: #2e3033;

    transition: 0.5s;
}

.card2:hover .line{
    width: 100px;
    background: #FEBF0F;
}
.card2:hover{
    transform: translateX(-15px);
    color: #fff;

}

.card2:hover .card-img-top{
    opacity: 0.75;
}


/* --------------------------------------------------------------------- */
/* ----------Youmna--------- */
/* --------------------------------------------------------------------- */
.text_left{
float: left;
width: 50%;
text-align: left;
display: block;
margin-right: 50%;
}
.text_right {
    float: right;
    width: 50%;
    text-align: right;
    display: block;
    margin-left: 50%;
}
.landingcontainer{
    margin-top: 100px;
    color: white;
}
.landing_text{
    border-top: 1px solid #FEBF0F;
}